body {
	margin:0;
	padding:0;
}

.title {
	color: #FFFFFF;
	background: #444444;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.title a {
	text-decoration: none;
	color:#FFFFFF;
}

.title .leftalize {
	float: left;
	padding-left: 1em;
}

.title .rightalize {
	float: right;
	padding-right: 1em;
}

.route_card {
	color: #000000;
	border: 2px solid black;
	padding-left: 1.5em;
}

.cardlink {
    text-decoration: none;
}

.statuscard {
	color: #000000;
	border-top-style: solid;
}

.statuscard .firstLine {
	font-size:1.25em;
}

.secondLine p{
	font-size: 1em;
}

.alignLeft {
	float:left;
	padding-left: 1em;
}

.alignRight {
	float:right;
	padding-right: 1em;
}