body {
	margin:0;
	padding:0;
}

.dim {
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:1 !important;
	background-color:black;
	margin:auto;
	display:none;
}

.loading {
	text-align: center;
	width: 100px;
	height: 100px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.loading img {
	width: 3em;
	margin-left: 1em;
}

.loading span {
	color: white;
	font-size: 2em;
}

.title {
	color: #FFFFFF;
	background: #444444;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	padding: .2em;
}

.title-right {
	float: right;
	width: 1em;
	margin-right: .5em;
	position: absolute;
	right: 0;
}

.title a {
	text-decoration: none;
	color:#FFFFFF;
	position: relative;
}

.title .leftalize {
	float: left;
	padding-left: 1em;
}

.title .rightalize {
	float: right;
	padding-right: 1em;
}

.route_card {
	color: #000000;
	border: 2px solid black;
	padding-left: 1.5em;
}

.cardlink {
    text-decoration: none;
}

.statuscard {
	color: #000000;
	border-top-style: solid;
}

.statuscard .firstLine {
	font-size:1.25em;
}

.secondLine p{
	font-size: 1em;
}

.alignLeft {
	float:left;
	padding-left: 1em;
}

.alignRight {
	float:right;
	padding-right: 1em;
}