@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .route_card {
  	color: #FFFFFF;
  }
}

.route_card {
	color: #000000;
	border: 2px solid;
	border-radius: 5px;
	padding-left: 1.5em;
}