<div id="loading-overlay" class="dim">
	<div class="loading">
		<img src="/img/spinner.gif" alt="spinner">
		<br>
		<span>Loading...</span>
	</div>
</div>
<div class="title">
	<a href="/#/?isint=true">Horae</a>
	<img src="/img/refresh-icon.png" class="title-right" ng-click="refresh()" alt="refresh">
</div>
<div class="cardlink">
	<div class="route_card">
		<h3>Upcoming Trains</h3>
	</div>
</div>
<div ng-show="!statuses.length">
	<div class="statuscard">
		No data on trains servicing these stops at this time.
	</div>
</div>
<div ng-repeat="status in statuses">
	<div class="statuscard" ng-click="refresh()" style="clear: both;">
		<div class="firstLine">
			<p class="trainNum alignLeft">Num: <b>{{status.train_num}}</b></p>
			<p class="eta alignRight">ETA: <b>{{status.formatted_eta}}</b></p>
		</div>
		<div class="secondLine" style="clear: both;">
			<p class="scheduled_time alignLeft">Sched: <b>{{status.fmt_sched_date }}</b></p>
			<p class="estimated_time alignRight">Est: <b>{{status.fmt_est_date}}</b></p>
		</div>
	</div>
</div>